[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mongo = "*"
flask = "*"
numpy = "*"
pandas = "*"
pymongo = "*"
requests = "*"
objects = "*"
setuptools = "*"
params = "*"

[dev-packages]

[requires]
python_version = "3.8"
